<a href="https://colab.research.google.com/github/Men9UbilaMarka/GoogleColab/blob/main/PR14_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Практические работы №14-15

**Collaborative filtering**

Реĸомендательные системы представляют собой набор алгоритмов, используемых для реĸомендации чего-либо пользователям на основе информации, полученной от пользователя.
Эти системы стали повсеместными, их можно часто увидеть в интернет-магазинах, базах данных фильмов и программах поисĸа работы. В этой лабораторной работе мы рассмотри
системы реĸомендаций, основанные на совместной фильтрации, и реализуем простую версию таĸой системы с использованием Python и библиотеĸи Panda.

1. Загружаем данные и скрипты, необходимые для практической работы

In [ ]:
import requests

url = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip'
r = requests.get(url)

with open('moviedataset.zip', 'wb') as f:
    f.write(r.content)

print('Файл moviedataset.zip загружен.')

Файл moviedataset.zip загружен.

2. Подключаем необходимые библиотеки

In [ ]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

3. Загрузим датасет из локального репозитория

In [ ]:
movies_df = pd.read_csv('C:/Users/Men9UbilaMarka/14-15/movies.csv')
ratings_df = pd.read_csv('C:/Users/Men9UbilaMarka/14-15/ratings.csv')

4. Просмотри таблицу с фильмами

In [ ]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

5. Перенесем год из названия в отдельный столб

In [ ]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

In [ ]:
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

6. Удалим столбец genres

In [ ]:
movies_df = movies_df.drop('genres', axis=1)

In [ ]:
movies_df.head()

   movieId                               title  year
0        1                    Toy Story (1995)  1995
1        2                      Jumanji (1995)  1995
2        3             Grumpier Old Men (1995)  1995
3        4            Waiting to Exhale (1995)  1995
4        5  Father of the Bride Part II (1995)  1995

8. Отобразим таблицу рейтингов

In [ ]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

9. Удалим столбец timestam

In [ ]:
ratings_df = ratings_df.drop('timestamp', axis=1)

In [ ]:
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

10. Создадим таблицу и заполним ее фильмами и и рейтингами

In [ ]:
userInput = [
 {'title':'Breakfast Club, The', 'rating':5},
 {'title':'Toy Story', 'rating':3.5},
 {'title':'Jumanji', 'rating':2},
 {'title':"Pulp Fiction", 'rating':5},
 {'title':'Akira', 'rating':4.5}
 ]
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

11. **НА ДАННОМ ПУНКТЕ МЫ ДОЛЖНЫ** отфильтровать фильмф из movies_df по названию фильмов, которые содержатся в inputMovies и удалить столбец year. Но проблема в том, что таблица не заполняется. Была проведена проверка источника данных, условия и рез-ат фильтрации, но решить проблему не удалось

In [ ]:
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
inputMovies = pd.merge(inputId, inputMovies)
inputMovies = inputMovies.drop('year', axis=1)
inputMovies

Empty DataFrame
Columns: [movieId, title, rating]
Index: []

In [ ]:
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

Empty DataFrame
Columns: [userId, movieId, rating]
Index: []